PackageList {
    height: 100%;
}

#package_list {
    height: 100%;
    width: 100%;
}

#filter_bar {
    dock: bottom;
    height: 1;
    width: 100%;
    background: $secondary-background;
}

#filter_label {
    dock: left;
    width: auto;
}

#filter_input {
    width: 100%;
    height: 1;
    border: none;
}

#package_details_container {
    dock: bottom;
    height: 20;
    width: 100%;
}

#package_title {
    dock: top;
    height: 1;
    width: 100%;
    background: $primary;
}